@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../img/tile.jpg)
}

h1 {
    font-size: 50px;
    color: #850bde;
    margin: 0;
    font-family: 'Pacifico', cursive;
}

h3 {
    margin: -20px;
    color: #850bde;
    font-family: 'Pacifico', cursive;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: aquamarine;
}

#wrapper {
    max-width: 640px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.75);
}

header {
    width: 90%;
    padding: 5%;
}

nav {
    width: 96%;
    height: 10px;
    background-color: black;
    color: white;
    margin: 2.5% 0 2.5% 0;
    padding: 0 2% 2% 2%;
}

article {
    width: 85%;
    float: left;
    background-color: #ffdb78;
    padding: 5%;
    margin: 0% 2.5% 0% 2.5% ;
    display: inline-block;
}

section {
    width: 85%;
    float: left;
    background-color: #ff72c9;
    padding: 5%;
    margin: 2.5%;
}

footer {
    width: 90%;
    height: 30px;
    clear: both;
    background-color: black;
    color: white;
    padding: 5%
}

@media screen and (min-width: 641px) {
    #wrapper {
        max-width: 960px;
    }
    article {
        width: 22%;
    }
    section {
        width: 50%;
        margin: 0% 2.5% 2.5% 0%;
    }
}