body {
    margin: 0;
}

h1 {
    margin: 0;
}

#wrapper {
    max-width: 640px;
    margin: 0 auto;
    background-color: aqua;
}

header {
    width: 90%;
    padding: 5%;
}

nav {
    width: 85%;
    float: left;
    background-color: blueviolet;
    color: orange;
    padding: 5%;
    margin: 0% 2.5% 0% 2.5% ;
}

section {
    width: 85%;
    float: left;
    background-color: fuchsia;
    padding: 5%;
    margin: 2.5%;
}

footer {
    width: 90%;
    height: 100px;
    clear: both;
    background-color: bisque;
    padding: 5%
}

@media screen and (min-width: 641px) {
    #wrapper {
        max-width: 960px;
    }
    nav {
        width: 22%;
    }
    section {
        width: 50%;
        margin: 0% 2.5% 2.5% 0%;
    }
}